select {
  display: inline-block;
  margin-left: 4px;
  margin-bottom: 4px;
}

.form__currency-label {
  display: block;
  margin-top: 1.5em;
  margin-left: 2px;
  margin-bottom: 8px;
}

.form__product-input-from {
  display: block;
}

.form__sort-icon {
  margin: 0 1em;
  cursor: pointer;

  &:hover {
    color: green;
  }
}

.form__currency-input-to {
}

.form__vat-rate-label {
  display: block;
}

.form__vat-rate {
  display: block;
}

button {
  display: block;
}
